# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
backend/.env

# VS Code
.vscode/

# Database
*.db

# Alembic cache
.mypy_cache/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
.docker-tmp/
